@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;}
a{
	text-decoration:none;
	color:#F39;
	}

h2{text-align:center;color:#96C;padding:20px;}
#pullDownNav .navigation{
	position:relative;
	float:left;
	border:#333 1px solid;
	width:19%;
	height:30px;
	text-align:center;
	}
.pullDownNav{
	position:relative;
	float:left;
	top:-1px;
	overflow:hidden;
	height:80px;
	text-align:center;
	width:99%;
	border:#333 1px solid;
	border-top:0px;
	display:none;
	}
.navigation .nav{
	height:32px;
	line-height:30px;
	}
